@media only screen and (min-width: 64rem) {
    /* -------------------------HEADER------------------------- */
    header nav ul#navagation{
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;

    }

    header nav ul li{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        border-right: 2px solid #090302 ;
        border-bottom: none;
    }


    header nav img {
        max-width: 100px;
        max-height: 100px;
    }

    footer{
        display: flex;
        flex-direction: row;
    }

    footer img{
        display: block;
        max-height: 100px;
    }

    footer div div{
        display: flex;
        flex-direction: row;
    }

    footer div{
        padding-left: 20px;
    }

    #hamburgerBtn{
        display: none;
    }

}